:root {
    font-size: 16px;
    --darkblue: #164e63;
    --lightblue: #f4f4f4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--lightblue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--darkblue);
    padding: 8px;
    display: flex;
    justify-content: center;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.6rem;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    padding: 8px;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1;
}